{% extends 'base.twig' %}

{% block title %}Data Rendering Example{% endblock %}

{% block content %}
    <h1>Data Rendering Example</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
